<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="index1.css">
</head>
<body>
   <h2 class="category_title">Мулитиврка GX 700</h2>
   <div class="content">
      <div class="content_image"><img src="card2.jpg">
      </div>
         <div class="container">
           <div class="price"><span>750 RUB</span></div>
            <table class="description_table">
               <thead>
                 <tr>
                   <td>Свойство</td>
                   <td>Значение</td>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Обьем</td>
                   <td>700</td>
                 </tr>
                 <tr>
                   <td>цвет</td>
                   <td>Красный</td>
                 </tr>
                 <tr>
                   <td>Распложение морозильной камеры</td>
                   <td>Однокамерный</td>
                 </tr>
                 <tr>
                   <td>Размеры</td>
                   <td>Высота (см): 85. Ширина (см): 56. Глубина (см): 57.9.</td>
                 </tr>
                 <tr>
                   <td>Blueberry</td>
                   <td>Blue</td>
                 </tr>
                 <tr>
                   <td>Pear</td>
                   <td>Green</td>
                 </tr>
               </tbody>
             </table>
             <spna class="explore">Добавить в корзину&#8594;</spna>
         </div>
   </div>
</body>
</html>