<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header class="mainheader">
      <div class="contact">
        <h2>Контакты</h2>
        <span>(071)-399-73-71</span>
        <span>(071)-399-73-71</span>
      </div>
      <div class="headerfirst">
        <div class="leftstrip"></div>
        <div class="logo">
          <h1>Techno-boom</h1>
        </div>
        <div class="rightstrip"></div>
      </div>
      <nav>
        <ul class="menu">
          <li class="menuitem"><a href="">Каталог товаров</a></li>
          <li class="menuitem"><a href="">Магазины</a></li>
          <li class="menuitem"><a href="">Гарантии</a></li>
          <li class="menuitem"><a href="">Доставка</a></li>
          <li class="menuitem"><a href="">Крупно-бытовая техника</a></li>
          <li class=""><a  href="">
            <div class="icons">
              <i  class="fas fa-user"></i>
              <div title="Корзина">
                <i class="fas fa-shopping-cart"></i>
                <span>1000 RUB</span>
              </div>
            </div>
           </a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="into">
        <div class="titlegroup">
          <span class="intotitle"
            >Бытовая техника по самым доступным ценам</span
          >
          <a class="explore">Смореть сейчас &#8594;</a>
        </div>
      </div>
    </div>

    <section>
      <h4>Отзывы</h4>
      <div class="testimotional">
        <div class="small">
          <div class="row">
            <div class="col3">
              <i class="fa fa-quote-left"></i>
              <p>
                Inventore laborum architecto adipisci, excepturi et aperiam
                ratione laboriosam? Vitae consectetur quaerat hic sapiente a?
                Quis officia corporis debitis delectus obcaecati optio.
              </p>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <img src="person1.jfif" />
              <h5>Егор Потапенко</h5>
            </div>
          </div>
        </div>
        <div class="small">
          <div class="row">
            <div class="col3">
              <i class="fa fa-quote-left"></i>
              <p>
                Inventore laborum architecto adipisci, excepturi et aperiam
                ratione laboriosam? Vitae consectetur quaerat hic sapiente a?
                Quis officia corporis debitis delectus obcaecati optio.
              </p>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <img src="person1.jfif" />
              <h5>Егор Потапенко</h5>
            </div>
          </div>
        </div>
        <div class="small">
          <div class="row">
            <div class="col3">
              <i class="fa fa-quote-left"></i>
              <p>
                Inventore laborum architecto adipisci, excepturi et aperiam
                ratione laboriosam? Vitae consectetur quaerat hic sapiente a?
                Quis officia corporis debitis delectus obcaecati optio.
              </p>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <img src="person1.jfif" />
              <h5>Егор Потапенко</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h6>Бренды</h6>
      <div class="brands">
        <div class="small">
          <div class="rows">
            <div class="col-5">
              <img src="brand4.png" />
            </div>
            <div class="col-5">
              <img src="brand2.png" />
            </div>
            <div class="col-5">
              <img src="brand3.png" />
            </div>
            <div class="col-5">
              <img src="brand5.png" />
            </div>
            <div class="col-5">
              <img src="brand1.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="top_header">
        <section>
          <span><i class="fa fa-map-marker"></i></span>
          <span>1.Район:Чернговогвардейский улица Малиновского</span>
        </section>
        <section>
          <span><i class="fa fa-phone"></i></span>
          <div class="footerphones" style="display: flex;flex-direction: column;">
            <span>(071) 399 73 71</span>
            <span>(071) 399 73 71</span>
          </div>
        </section>
        <section>
          <span><i class="fa fa-envelope"></i></span>
          <span>info@websitename.com</span>
        </section>
      </div>
      <span class="border-shape"></span>
      <div class="bottom_content">
        <section>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-telegram"></i></a>
        </section>
        <section>
          <a href="#">Каталог товаров</a>
          <a href="#">Магазины</a>
          <a href="#">Гарантии</a>
          <a href="#">Доставка</a>
          <a href="#">Крупно-бытовая техника</a>
        </section>
      </div>
      <div class="copyright">
        Copyright © 2021 technoboom.com - All rights reserved
      </div>
    </footer>
  </body>
  <script></script>
</html>
