<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="paging.css">
   <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
 />
</head>
<body>
   
    <div class="navigation">
    
      <span class="num">1</span>
      <span class="num">2</span>
      <span class="num selected">3</span>
      <span class="num">4</span>
      <span class="num ">5</span>
   </div>
</body>


</script>
</html>