<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="productcard.css">
   <link
   href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
   rel="stylesheet"
 />
</head>
<body>
   <div class="container">
      <a class="containerproduct">
         <div class="productimage"><img class="categoryproduct" src="card2.jpg"></div>
         <span class="description">Подробнее &#8594;</span>
         <div class="price"><span>&nbsp 15500 &nbsp RUB &nbsp</span></div>
         <button class="titlebutton" type="button">
            <span>Мультиварка</span>
         </button>
      </a>
      <a class="containerproduct">
         <div class="productimage"><img class="categoryproduct" src="product.jpg"></div>
         <span class="description">Подробнее &#8594;</span>
         <div class="price"><span>&nbsp 15500 &nbsp RUB &nbsp</span></div>
         <button class="titlebutton" type="button">
            <span>Мультиварка</span>
         </button>
      </a>
      <a class="containerproduct">
         <div class="productimage"><img class="categoryproduct" src="product.jpg"></div>
         <span class="description">Подробнее &#8594;</span>
         <div class="price"><span>&nbsp 15500 &nbsp RUB &nbsp</span></div>
         <button class="titlebutton" type="button">
            <span>Мультиварка</span>
         </button>
      </a>
   </div>
</body>
</html>